.state-container {
    display: flex;
    height: 130px;
    width: 680px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.616);
}

img {
    height: 100px;
    width: 100px;
}

.state {
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:link {
    color: white;
    text-decoration: none;
}

:visited {
    color: white;
    text-decoration: none;
}

img:hover {
    color: white;
    height: 115px;
}

:active {
    color: white;
    text-decoration: none;
}